/conf/acl.auth.php
/conf/users.auth.php
/conf/plugins.local.*
.htaccess
*.swp
*.bak
*.old
*~
/data/attic/*
!/data/attic/_dummy
/data/cache/*
!/data/cache/_dummy
/data/index/*
!/data/index/*_dummy
/data/locks/*
!/data/locks/*_dummy
/data/media/*
!/data/media/*_dummy
/data/media_meta/*
!/data/media_meta/*_dummy
/data/media_attic/*
!/data/media_attic/*_dummy
/data/meta/*
!/data/meta/*_dummy
/data/pages/*
!/data/pages/*_dummy
/data/tmp/*
!/data/tmp/*_dummy